{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% block title %}
  Project Requirement List
{% endblock %}

{% block content %}
  <table id="table" class="display compact">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      {% for requirement in requirements %}
        <tr>
          <td>{{ requirement.name }}</td>
          <td>{{ requirement.value }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block scripts %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#table').DataTable()
    })
  </script>
{% endblock %}
